{{#each players as |player|}}

  <!-- -->


  <table>
    <thead>
        <th>First Name</th>
        <th>Last Name </th>
        <th>Position</th>
        <th>Batting Position</th>
        <th>Batting Avg</th>
    </thead>
    {{#if player}}
    <tbody>
        <tr bgcolor="#cd9966" data-id="{{player.id}}">
            <td>{{player.first_name}}</td>
            <td>{{player.last_name}}</td>
            <td>{{player.position}}</td>
            <td>{{player.batting_position}}</td>
            <td>{{player.batting_avg}}</td>
            <td><button id="deletePlayerBttn" value="{{player.id}}" name='delete' type='click'>Delete</button></td>
            <td><button id="updatePlayerBttn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#update-form-panel" aria-expanded="false" aria-controls="update-form-panel" value="{{player.id}},{{player.first_name}},{{player.last_name}},{{player.position}},{{player.batting_position}},{{player.batting_avg}}" name='update' type='click'>Update</button></td>
        </tr>
  </table>
{{else}}
    There are no players recorded for this batting order.
{{/if}}

{{/each}}
