{{#each players as |player|}}

  <!-- -->


  <table style="width:75%">
    <thead>
        <th width="90" align="left">First Name</th>
        <th width="120" align="left">Last Name </th>
        <th align="left">Position</th>
        <th align="left">Batting Position</th>
        <th align="left">Batting Avg</th>
    </thead>
    {{#if player}}
    <tbody>
        {{!-- <tr bgcolor="#cd9966" data-id="{{player.id}}"> --}}
        <tr>
            <td align="left">{{player.first_name}}</td>
            <td align="left">{{player.last_name}}</td>
            <td align="left">{{player.position}}</td>
            <td align="left">{{player.batting_position}}</td>
            <td align="left">{{player.batting_avg}}</td>
            <td align="left"><button id="selectBttn" value="{{player.id}}" name='select' type='click'>Select </button></td>
        </tr>
  </table>
{{else}}
    There are no players recorded for this batting order.
{{/if}}

{{/each}}
