<legend>Select a Season</legend>
{{#each seasons as |season|}}

  <table style="width:425px" cellspacing="25">
    <thead>
        <th>Season ID</th>
        <th>Year</th>
        <th>Team</th>
        <th>Program</th>
        <th>Actions</th>
    </thead>
    {{#if season}}
    <tbody>
        {{!-- {{#seasons}} --}}
        <tr bgcolor="#cd9966" data-id="{{season.id}}">
            <td align="center">{{season.id}}</td>
            <td>{{season.year}}</td>
            <td>{{season.team}}</td>
            <td>{{season.program}}</td>
            <td><button id="selectSeasonBttn" value="{{season.id}}" name='select' type='click'>Select Season</button></td>
        </tr>
        {{!-- {{/seasons}} --}}
  </table>
{{else}}
    <h4>There are no seasons on record for this user. Return to the Tools aand create a new season<h4>
{{/if}}

{{/each}}
